{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Сброс пароля{% endblock %}


{% block content %}
<div class="main">
    <div class="main__block">
        <h2 class="main__title">Сброс пароля</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    {{form.email|add_class:'username_form'|attr:'placeholder:Email'}}
                </div>
                <button type="submit" class="main__button">Отправить</button>
            </form>
    </div>
</div>
{% endblock %}