{% extends 'base.html' %}
{% load static %}

{% block title %}MusicHub{% endblock%}
	
{% block content %}
{% if request.user.is_authenticated %}
		<div class="main home-main">
			<div class="home_title_block">
				<h2 class="main__title hometitle">MusicHub</h2>
				<a class="home_user" href="{% url 'detail' user.id %}">{{ request.user }}</a>
			</div>
			

			<div class="upload_music">
				<a class = 'upl_music' href="{% url 'upload-music' %}">Добавить песню</a>
			</div>

			{% for music in musicmodel_list %} 
			<div class="home_block_music">
				<div class="home_music_title_author">
					<a class = 'home_music_author' href="{% url 'detail' music.author.id %}">{{ music.author }}</a> - {{ music.title }}
					

				</div>
				{% if request.user == music.author %}
					<div class="home_music_delete_block">
						<a class = 'home_music_delete' href="{% url 'delete' music.id %}">Удалить</a>
					</div>
				{% endif %}
				<div class="home_music_file">
					<audio controls = "controls" class = 'music_player'>
  					<source src="{{ music.file.url }}" >
					</audio>
				</div>
				<div class="home_music_date">
					{{music.publication_date.date}}
				</div>
			</div>
			{% endfor %}
			<img src="{% static 'img/logo.jpg' %}" alt="" class="main_page_image" />
			<h2 class="main_page_suptitle">MusicHub</h2>\
			<div class="pagination_block">
				
				<ul>
        {% for p in paginator.page_range %}
						{% if page_obj.has_other_pages %}
            {% if page_obj.number == p %}
                <li class="pagionation_selected">{{ p }}</li>
            

            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                <li class = 'pagionation_no_selected'>
                    <a class = 'pag_no_selected ' href="?page={{p}}">{{ p }}</a>
                </li>
                
            {% endif %}
						{% endif %}
        {% endfor %}
    		</ul>
			</div>
		</div>
		{% endif %}
{% endblock %}

