@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
}


/* Main Page */

.main_page{
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-image: url('/static/img/bg.jpg');
    background-size: 100%;
    position: relative;
}





.main_page_title{
    font-size: 120px;
    font-weight: bolder;
    color: #fff;
}

.subtitle{
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}

.main_page_button {
    color: #7000B5;
    padding: 20px 100px;
    background-color: #fff;    
    border: 0;
    border-radius: 15px;
    text-decoration: none;
    font-size: 45px;
    font-weight: 600;
    transition: .2s;
}

.main_page_button:hover{
    box-shadow:0 0 40px #A10AFF;
}

.btn {
    margin-top: 45px;
}


.main_page_image{
    border-radius: 100px;
    width: 55px;
    position: absolute;
    top: 60px;
    left: 120px;
}

.main_page_suptitle{
    position: absolute;
    top: 75px;
    left: 190px;
    font-size: 20px;
    
}




/* user */


.main, .main_register{
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: #7000B5;
    background-size: 100%;
    
}


.main__block, .reg{
    
    display: flex;
    flex-flow: column wrap;
    
    
    text-align: center;
}

.default_form, .password_form, .firstname_form, .secondname_form, .password1_form, .password2_form, .username_reg_form, .email_form {
    width: 450px;
    height: 70px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 500;
    margin-bottom: 20px;
}

.main__title, .register_title{
    font-size: 60px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
}

.no_account, .already_account {
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    transition: .2s;
}

.no_account:hover, .already_account:hover{
    opacity: .8;
}
.main__button, .register_button {
    width: 250px;
    height: 50px;
    background-color: #fff;
    color:#7000B5;
    border: 0;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
    
}



.main__button:hover, .register_button:hover{
    box-shadow:0 0 15px #A10AFF;
}

.register_button{
    width: 300px;
    height: 60px;
}

.register_title {
    font-size: 40px;
}


.firstname_form, .secondname_form, .password1_form, .password2_form, .username_reg_form, .email_form{
    width: 600px;
    height: 65px;
}

.logout_block, .back_to_main_block{
    display: flex;
    justify-content: center;
    align-items: center;
}



.back_to_login, .back_to_main{
    padding: 20px 100px;
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    color: #7000B5;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 10px;
    transition: .2s;

}

.back_to_main{
    padding: 20px 80px;
}


.back_to_login:hover, .back_to_main:hover{
    box-shadow:0 0 15px #A10AFF;

}

.logout_block_back{
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: #7000B5;
    background-size: 100%;
}



.password_change_login{
    padding: 20px 100px;
    
    background-color: #fff;
    color: #7000B5;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    border:0;
    font-weight: 500;
}


.password_change_login:hover{
    box-shadow:0 0 15px #A10AFF;

}



.detail-block{
    margin-top: -400px;
    
   
}

.detail-title{
    margin-bottom: 4px;
    font-size: 80px;
}

.detail_fn, .detail_ln{
    display: inline-block;
    font-size: 20px;
}


/* form_file */

.file-upload {
    position: relative;
    display: inline-block;
}

.file-input {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #7000B5;
    cursor: pointer;
    font-weight: 400;
    border: 0;
    border-radius: 50px;
    margin-bottom: 15px;
    transition: .2s;
}

.file-label:hover {
    box-shadow:0 0 15px #A10AFF;
}



/* home */
.home-main{
    display: block;
    
}



.home_title_block{
    display: block;
    text-align: center;
    padding-top: 55px;
    position: relative;
}

.home_user{
    position: absolute;
    top: 70px;
    right: 180px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color:#fff;
    transition: .2s;

}

.home_user:hover{
    opacity: .8;
}

.home_block_music {
    display: block;
    width: 1000px;
    height: 130px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #f2f2f2;
    border: 0;
    border-radius: 30px;
    text-align: center;
    margin-top: 40px;
}

.music_player {
  width: 950px;
  border: 0;
  border-radius: 5px;
}

.home_music_title_author{
    color: #7000B5;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    padding-left: 41px;
    padding-top: 20px;
}

.home_music_file{
    padding-top: 9px;
}

.home_music_date{
    color: #7000B5;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    margin-top: -98px;
    margin-right: 48px;
}


.upload_music {
    display: flex;
    justify-content: right;
    margin-right: 85px;
    margin-top: -30px;
}

.upl_music{
    background-color: #fff;
    padding: 10px 50px;
    text-align: center;
    color: #7000B5;
    font-weight: 500;
    border: 0;
    border-radius: 20px;
    
    text-decoration: none;
}

.upl_music:hover{
    box-shadow:0 0 15px #A10AFF;
}